@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.twitterSearch {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    color: $ms-color-black;
    background-color: $ms-color-white;
    padding: 0, 3em, 0, 3em;
  }

  .firstFullColumn {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
    min-height: 1em;
  }

  .lastFullColumn {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
    min-height: 1em;
  }

  .fullColumn {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
  }

  .imageColumn {
    @include ms-Grid-col;
    @include ms-lg3;
    @include ms-xl2;
  }

  .textColumn {
    @include ms-Grid-col;
    @include ms-lg9;
    @include ms-xl10;
  }

  .senderImage {
    width: 5em;
    /* Center the image in its column */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .senderName {
    font-size: large;
    color: $ms-color-themePrimary;
  }

  .tweetDate {
    font-size: large;
    color: $ms-color-themePrimary;
  }

  .tweetText {
    color: $ms-color-themeDark;
  }

}