@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.twitterSearch {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 10px;
  }

  .imageColumn {
    @include ms-Grid-col;
    @include ms-lg2;
    @include ms-xl1;
  }

  .textColumn {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl11;
  }

  .senderImage {
    width: 4em;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
  }

  .senderName {
    font-size: large;
    color: yellow;
  }

  .tweetDate {
    font-size: large;
    color: greenyellow;
  }

  .tweetText {
    color: white;
  }

}