.quotes {
  .container {
    font-family: sans-serif;
  }

  .li, .li2 {
    list-style-type: none;
    color: darkgreen;
    font-size: 14pt;
    font-style: italic;
    margin-bottom: 5pt;
  }

  .li2 {
    padding-left: 30pt;
  }

}
