.quotes {
  
  border: 2px;
  border-style: solid;
  padding: 14pt;

  .line, .lastLine {
    font-style: italic;
  }

  .lastLine {
    padding-left: 30pt;
  }

}

.exceptions {

  .errorLink {
    margin-left: 30pt;
  }

}

